div.card {
  background-color: #011935;
}

div.card-body {
  background-color: #2a3950;
  border-radius: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
div.card-body:hover {
  opacity: 0.7;
}

h1 {
  color: white;
  font-size: 14px;
}

p {
  color: white;
  font-size: 12px;
}

button.delete {
  border: none;
  background: none;
}

button.delete:focus {
  outline: none;
}

