@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #011935;

  // background-image: url('./assets/mountains-1.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center top;
}
